img {
    max-width: 100%;
    height: auto;
    display: block;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    background: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-content: center; /* cross axis */
    position: relative;
}

figure {
    width: 20%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

section {
    width: 80%;
    margin: 0;
    padding: 0.5em 10%;
    flex: initial; /* flex: 0 1 auto */
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
}

@media all and (min-width: 300px) {
    h2 {
        font-size: 1em;
    }
}

@media all and (min-width: 400px) {
    h2 {
        font-size: 1.2em;
    }
}

@media all and (min-width: 600px) {
    h2 {
        font-size: 1.4em;
    }
}

@media all and (min-width: 900px) {
    h2 {
        font-size: 1.6em;
    }
}

@media all and (min-width: 1200px) {
    h2 {
        font-size: 1.8em;
    }
}

/* Notes for Animation */

/* animation: [animation-name] [animation-duration] [animation-timing-function]
[animation-delay] [animation-iteration-count] [animation-direction]
[animation-fill-mode] [animation-play-state]; */

/* Classes for figures */
.spot1 {
    animation: fade-in 500ms linear 2000ms 1 normal both;
}

.spot2 {
    animation: fade-in 500ms linear 2500ms 1 normal both;
}

.spot3 {
    animation: fade-in 500ms linear 3000ms 1 normal both;
}

.spot4 {
    animation: fade-in 500ms linear 3500ms 1 normal both;
}

.spot5 {
    animation: fade-in 500ms linear 4000ms 1 normal both;
}

.spot6 {
    animation: fade-in 500ms linear 4500ms 1 normal both;
}

.spot7 {
    animation: fade-in 500ms linear 5000ms 1 normal both;
}

.spot8 {
    animation: fade-in 500ms linear 5500ms 1 normal both;
}

.spot9 {
    animation: fade-in 500ms linear 6000ms 1 normal both;
}

.spot10 {
    animation: fade-in 500ms linear 6500ms 1 normal both;
}

.spot11 {
    animation: fade-in 500ms linear 7000ms 1 normal both;
}

@keyframes fade-in {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}